{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'main/css/style_main.css' %}" rel="stylesheet">
</head>
<body>
<div class="mainInformation">
    <header>
        <div class = container>
            <div class="head">
                <a href="{% url 'home' %}"><img src="{% static 'main/img/iconLogo.png' %}" alt="" class="logo"></a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="text">
                            <a href="{% url 'home' %}" style="font-weight: bold">Главная</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'articles' %}">Статьи</a>
                        </li>

                        <li class="text">
                            <a href="#">Калькулятор</a>
                        </li>

                        <li class="text">
                            <a href="#">Блог</a>
                        </li>

                        <li class="iconLK">
                            <a href="{% url 'login' %}"><img src="{% static 'main/img/iconForPersonalArea.png' %}" alt="LK" class="imgLK"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="readNewArticles">
            <div class="container">
                <p>Читайте новые статьи:</p>
            </div>
        </div>
    </section>

    <section>
        <div class="newArticles">
            <div class = container>
                <nav class="containerOfArticles">
                    <a href="#" class="firstArticle">Как выбрать умные весы</a>
                    <a href="#" class="secondArticle">Топ-5 продуктов для здоровой кожи</a>
                    <a href="#" class="thirdArticle">Почему сон так важен при похудении</a>
                </nav>
            </div>
        </div>
    </section>

    <section>
        <div class="mainPhrase">
            <img src="{% static 'main/img/imgForMainPage.jpg' %}" alt="" class="mainImage">
            <p>Ваше здоровье<br>на нашем сайте</p>
        </div>
    </section>

    <section>
        <div class="buttonCalc">
            <a href="#">Рассчитать Ваши КБЖУ</a>
        </div>
    </section>

    <section>
        <div class="textAboutReg">
            <p>А чтобы отслеживать прогресс,<br>получить доступ к блогу и<br>личному кабинету зарегистрируйтесь или войдите</p>
        </div>
    </section>

    <section>
        <div class="buttonRegSec">
            <a href="{% url 'registration_field' %}" class="buttonReg">Стать частью коммьюнити</a>
        </div>
    </section>
</div>
</body>
</html>
