@font-face {
    font-family: "Raleway";
    src: local('Raleway-Regular'), url("../fonts/Raleway-Regular.ttf") format('truetype');
}


body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

header {
    background-color: #CCE0FB;
    width: 100%;
    height: 60px;
}

div {
    box-sizing: border-box;
}

#wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    margin: 0 auto;
    width: 1200px;
}

.logo{
    margin-top: 5px;
    width: 40px;
    height: 50px;
    float: left;
}


.navigation {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    font-weight: bold;
}

.text {
    margin-top: 20px;
    float: left;
    display: block;
    margin-left: 60px;
}


.rectangle {
    height: 93.6vh;
    width: 25vw;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 10px 1px #80B9ED;
    position: absolute;
    z-index: 100;
    background-color: #F1F6FA;
}

.user_information{
    margin-left: 20px;

}

.user_name {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
    font-size: 40px;
}

.user_photo {
    height: 100px;
    margin-top: 30px;
}

.kkal{
    margin-top: 30px;
    font-size: 27px;
}

.user_kkal{
    margin-left: 10px;
    font-size: 22px;
}

.weight{
    margin-top: 50px;
    font-size: 27px;
}

.user_weight{
    margin-left: 10px;
    font-size: 22px;
}

.activity{
    margin-top: 50px;
    font-size: 27px;
}

.user_activity{
    margin-left: 10px;
    font-size: 22px;
}

.bottom{
    position:absolute;
	bottom:0;
}

.bottom ul{
    margin: 0;
    padding: 0;
}

.bottom ul li{
    list-style-type: none;

}

.bottom ul li a{
    color: black;
    font-size: 20px;
}

.rightSide{
    width: 75vw;
    height: 93.6vh;
    margin-left: 25vw;
}

.buttons{
    margin-left: 18vw;
    padding-top: 35vh;
    column-count: 2;
    width: 700px;
}

.buttons ul{
    padding: 0;
    margin: 0;
    width: 300px;
}

.buttons li{
    list-style-type: none;
    margin-bottom: 10px;
}

.buttons a{
    color: black;
    display: block;
    text-decoration: none;
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    font-size: 25px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.water_but{
    background-color: #80B9ED;
}

.food_but{
    background-color: #F3E38D;
}

.weight_but{
    background-color: #98EB88;
}

.sport_but{
    background-color: #EB7272;
}