{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор продуктов</title>
    <link href="{% static 'food_diary/css/style_product_selection.css' %}" rel="stylesheet">
</head>


<header>
        <div class = container>
            <div class="head">
                <a href="{% url 'home' %}"><img src="{% static 'registration/img/iconLogo.png' %}" alt="" class="logo"></a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="text">
                            <a href="{% url 'home' %}">Главная</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'articles' %}">Статьи</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'calculator' %}">Калькулятор</a>
                        </li>

                        <li class="text">
                            <a href="#">Блог</a>
                        </li>

                        <li class="iconLK">

                            <a href="{% url 'login' %}"><img src="{% static 'registration/img/iconForPersonalArea.png' %}" alt="LK" class="imgLK"></a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
</header>


<section>
    <div class="selectOption">
        <div class="selectButtons">
            <ul>
                <li><a href="#" style="font-weight: bold">Выбор продуктов</a></li>
                <li class="foodDiary"><a href="#">Дневник питания</a></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="columnButtons">

        <div class="leftButtons">
            <ul>
                <li><a href="#">Мясо</a></li>
                <li><a href="#">Рыба и морепродукты</a></li>
                <li><a href="#">Крупы</a></li>
                <li><a href="#">Мучные продукты</a></li>
            </ul>
        </div>

        <div class="rightButtons">
            <ul>
                <li><a href="#">Овощи и фрукты</a></li>
                <li><a href="#">Сладкое и снеки</a></li>
                <li><a href="#">Молочные продукты</a></li>
                <li><a href="#">Готовые блюда</a></li>
            </ul>
        </div>

    </div>

</section>


</body>
</html>